<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Simple CRM</title>
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link rel="icon" href="/assets/img/favicon-sc.svg" type="image/x-icon"/>
    

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="/assets/css/plugins.min.css" /> -->
    <link rel="stylesheet" href="/assets/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="/assets/css/datatables.min.css" />
    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css">
    <link  rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/fonts.min.css" media="all">
    <link rel="stylesheet" href="/assets/css/plugins.min.css" media="all">
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <link rel="stylesheet" href="/assets/css/crm.css" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link rel="stylesheet" href="/assets/css/demo.css" /> -->
  </head>
  <body>
    <!-- <div class="wrapper">
      <nav-left></nav-left>

      <div class="main-panel">
        <nav-bar></nav-bar>
          <div class="container">
            <div class="page-inner">
  
            </div>
          </div>
        

        <footer-bar></footer-bar>
      </div>

      <modal-page></modal-page>
      <search-list></search-list>
    </div> -->
    
    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="/assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="/assets/js/plugin/calendar/index.global.js"></script>
    <script src="/assets/js/plugin/quill/quill.js"></script>
    <script src="/assets/js/plugin/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- <script src="/assets/js/kaiadmin.min.js"></script> -->

    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <script src="/util/util.js"></script>
    <script src="/util/store.js"></script>
    <script src="/util/mainController.js"></script>
    <!-- 컴포넌트 -->
    <script src="/component/crm/abs-component.js"></script>
    <script src="/component/crm/abs-form.js"></script>
    <script src="/component/crm/modal-page.js"></script>
    <script src="/component/crm/alert-message.js"></script>
    <script src="/component/crm/nav-bar.js"></script>
    <script src="/component/crm/footer-bar.js"></script>
    <script src="/component/crm/nav-left.js"></script>
    <script src="/component/crm/table-list.js"></script>
    <script src="/component/crm/user-form.js"></script>
    <script src="/component/crm/company-form.js"></script>
    <script src="/component/crm/customer-form.js"></script>
    <script src="/component/crm/product-form.js"></script>
    <script src="/component/crm/product-upload.js"></script>
    <script src="/component/crm/search-list.js"></script>
    <script src="/component/crm/sheet-list.js"></script>
    <script src="/component/crm/sheet-form.js"></script>
    <script src="/component/crm/sheet-view.js"></script>
    <script src="/component/crm/work-form.js"></script>
    <script src="/component/crm/calendar-board.js"></script>
    <script src="/component/crm/board-list.js"></script>
    <script src="/component/crm/board-info-form.js"></script>
    <script src="/component/crm/board-form.js"></script>
    <script src="/component/crm/board-main.js"></script>
    <script src="/component/crm/board-contents.js"></script>
    <script src="/component/crm/board-check.js"></script>
    <script src="/component/crm/board-reply.js"></script>
    <script src="/component/crm/board-user-form.js"></script>
    <script src="/component/crm/password-form.js"></script>
    <script src="/component/crm/file-upload.js"></script>
    <script src="/component/crm/info-message.js"></script>
    <script src="/component/crm/waiting-user-info.js"></script>
    <script src="/component/crm/use-record.js"></script>
    <!-- Fonts and icons -->
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
      WebFont.load({
        google: { families: ["Public Sans:300,400,500,600,700"] },
        custom: {
          families: [
            "Font Awesome 5 Solid",
            "Font Awesome 5 Regular",
            "Font Awesome 5 Brands",
            "simple-line-icons",
          ],
          urls: ["/assets/css/fonts.min.css"],
        },
        active: function () {
          sessionStorage.fonts = true;
        },
      });
    </script>
    <script>
      const _userInfo_s = `<%= JSON.stringify(userInfo) %>`;
      const _clientId_s = `<%= JSON.stringify(clientId) %>`;
      document.addEventListener('DOMContentLoaded', function () {
        const mainController = new MainController(_userInfo_s, _clientId_s);
        mainController.init();
      });
    </script>
  </body>
</html>
