<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<style>
		input,div {
  box-sizing: border-box;
}
.form-box {
  background : white;
  padding : 25px;
  margin: 20px;
  border-radius: 8px;
}
.form-box input {
  padding : 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-box button {
  padding: 10px;
  border : none;
  background : lightgrey;
  border-radius: 5px;
}
	</style>
</head>
<body>
	<form class="form-box">
    <h4>Login</h4>
    <input type="text" name="username" placeholder="ID"></input>
		<input type="password" name="password" placeholder="password"></input>
    <button type="button" class="command-pass-user">전송</button>
</form> 

<script src="/util/util.js"></script>
<script>

window.addEventListener('click', (e)=>{
  e.composedPath().find((node) => 
			{
					if (typeof(node.className) === 'object' || !node.className || !node.className?.match(/command/)) return false;
					if(node.className.match(/command-pass-user/))
					{
							const form = node.closest('form');
							const formData = new FormData(form);
							util.sendFormData("/user/passUser", "POST", formData ).then((data) => {
                console.log(data); // JSON 데이터가 `data.json()` 호출에 의해 파싱됨
                if(data.loginSuccess) location.href = ("/");
              });
							return;
					}
			});
});
</script>
</body>
</html>