.modal-body{
	max-width: 95%;
    width: 600px;
    min-width: 50%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.form-header{
	padding-top: 12px;
	padding-bottom: 12px;
	background: #1a2035 !important;
	color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox  */
input[type='number'] {
-moz-appearance: textfield;
}
.row-space-between{display: flex;    justify-content: space-between;    gap: 12px; align-items: center;}
.row-space-even{display: flex;    justify-content: space-even;    gap: 12px;}
.row-space-between div, .row-space-even div{width:100%;}
.hidden{display:none!important;}

.sidebar .nav-collapse, .sidebar[data-background-color=white] .nav-collapse {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.swal-overlay{
    z-index: 1024;
    display: block;
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    margin: 0px auto;
    background-color: rgba(223, 229, 239, 0.63);
    position: fixed;
    top: 0px;
    left: -400px;
    transform: translate3d(400px, 0px, 0px);
    transition: 0.5s;
}